body {
  background: #f9f9f9;
}
.title {
  font-weight: 300; 
}
.error {
  font-weight: 200;
  font-size: 20px;
}
.collection {
  text-align: left;
}
.collection .collection-item.gold, .collection .collection-item.silver, .collection .collection-item.bronze {
  color: #fff;
}
.collection .collection-item.gold {
  background: #C98910;
}
.collection .collection-item.silver {
  background: #A8A8A8;
}
.collection .collection-item.bronze {
  background: #965A38;
}
.collection .collection-item {
  margin-bottom: 2px;
  position: relative;
}
.github-id {
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
}
.points.badge.red {
  font-weight: 600;
  color: #fff;
  top: 15px;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 60%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 40%;
  }
}